*{
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1400px;
  max-width: 1400px;
}

.main-container{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  flex-basis: 1400px;
  /* justify-content: flex-start; */
}
.holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1350px;
  margin-left: 20px;
}

:root {
  --nav-buttons-color: #2f70ba;
  --grey-border-color:rgb(238, 238, 243);
  --orange-heading-color: orange;
  }
 
  /* NAV */
.nav{
  font: 1em arial;
  color: var(--nav-buttons-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  flex-basis: 1350px;
}
a{
  color: var(--nav-buttons-color);
  text-decoration: none;
}
.left-nav{
  display: flex;
  cursor: pointer;
}
.vehicle{
  display: flex;
  flex-direction: row;
}
.right-nav{
  width: 22%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.previous, .next{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.arrow{
  width: 30px;
  height: 25px;
}

/* BID & ANNOUNCEMENTS */
.bid-announce{
  border: 20px solid var(--grey-border-color);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
p{
  display: inline-block;
}

/* BID */
.bid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.image{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.img{
  display: inline-flex;
}
.under-img{
  flex: 1 1 auto;
  display: inline-flex;
  margin-left: 20px;
  color: var(--nav-buttons-color);
  font-weight: bold;
}
td>a{
  text-decoration: 2px underline var(--grey-border-color);
  color: var(--nav-buttons-color);
  font-weight: bold;
}
.cr{
  border: 1px solid var(--orange-heading-color);
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 30px;
  margin: 15px 0px 15px 30px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.5, orange), color-stop(0.51, transparent));
}


/* STATS */
.stats{
  margin: 10px 0px 60px 20px;
  flex: 1 1 auto;
  display: inline-block;
}
.table1{
  display: flex;
  flex-wrap: wrap;
}
.table1 tr{
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.9em;
  border-spacing: 0px 10px;
}
.table1 td{
  padding: 10px 45px 10px 0px;
}
.table1 tr:nth-of-type(odd){
	font-weight: bold;
  color: rgb(192, 192, 192);
}
.table1 tr:nth-of-type(even){
  border-bottom: 2px solid gray;                                  /*was working, now not working*/
  border-left: 2px solid gray;                                    /*was working, now not working*/
  text-decoration: 2px underline var(--grey-border-color);
  text-underline-offset: 13px;
} 

/* BID BUTTONS */
.bid-buttons{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 32px;
  position: relative
}

.eye{                                             
  position: absolute;
  top: 40px;
  right: 5px;                                                
  display: flex;
}
.green-eye{
  margin: 10px 40px;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.clock, .info, .file-export{
  width: 25px;
  height: 20px;
  cursor: pointer;
}
.file-export{
  height: 25px;
  position: relative;
  top: 7px;
}
.countdown{
  color: orange;
  font-weight:bold;
  display: flex;
  justify-content: center;
  display: inline-block;
}
.btn-placebid, 
.btn-buynow{
  background-color: var(--nav-buttons-color);
  color: white;
  border: var(--nav-buttons-color);
  border-radius: 5px;
  padding: 13px;
  margin: 8px auto;
  cursor: pointer;
  display: inline-block;
}
form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.userbid{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}
.input{
  display: inline-flex;
  flex-direction: row;
  justify-content: center; 
}
input[type=text-currency]{
  width: 25%;
  padding: 5px;
  margin: 0px 5px;
  box-sizing: border-box;
  background-color: whitesmoke;
}
.btn-proxybid{
	background-color: white;
	color: var(--nav-buttons-color);
	border: 3px solid var(--nav-buttons-color);
	border-radius: 5px;
	padding: 6px;
  cursor: pointer;
}

/* ANNOUNCEMENT */
.announce{
  border-top: 1px solid rgb(236, 233, 233);
  margin: 0px 20px;
  height: 200px;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex:  1 1 auto;
}
::-webkit-scrollbar {
     /* Width of vertical scroll bar */
  width: 12px;
    /* Height of horizontal scroll bar */
  height: 15px;
  }
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #cdd2da;
  }


  /* OVERVIEW */

  /*DIV TABLE*/
.divTable{
  margin: 0px 0px 30px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.divTableBody{
  display: flex;
  flex-direction: column;
  border: 1px solid whitesmoke;
  width: 100%;
  flex-wrap: wrap;
}
.HeadingCell{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.divTableRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 10px 5px 10px;
  min-height: 35px;
}
.divTableRow:nth-of-type(odd){
  background-color: whitesmoke;
}
.divTableRow:first-of-type{
  background-color: var(--nav-buttons-color);
  border: 1px solid whitesmoke;
  border-radius: 8px 8px 0px 0px;
  color: white;
  flex-wrap: none;
  flex-direction: row;
}
.divTableRow:nth-of-type(even){
  background-color: white;
}

.divTableCell{
  width: 150px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.divTableCell:nth-of-type(odd){
  color: var(--nav-buttons-color);
  font-weight: bold;
}
.HeadingCell{
  color: white;
  display: flex;
  justify-content: space-between;
}
.icon-cell{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 350px;
}


  /* MIDDLE */
.middle-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 1450px;
  max-width: 1450px;
  background-color: white;
  border: 25px solid var(--grey-border-color);
}

    /* DAMAGE */
.damage,
.wheelsAndTires{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 100%;
  border-left: 10px solid var(--grey-border-color);
  margin-left: 20px;
  border-right: 10px solid var(--grey-border-color);
  margin-right: 20px;
  border-bottom: 10px solid var(--grey-border-color);
}
.heading2{
  height: 40px;
  background-color: var(--grey-border-color);
  color: var(--nav-buttons-color);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.damage-details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
}
.layout{
  flex: .5;
  max-width: min-content;
  display: flex;
  justify-content: flex-start;
}
.details-container,
.wt-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* flex-basis: 60%; */
}
.wt-container{
  flex-basis: 60%;
  flex-direction: row;
  flex-wrap: wrap;
}
.details,
.wt-details{
  flex:2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-basis: 100%;
}

  /*DIV TABLE*/
  .divTable2{
    margin: 35px 150px 35px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
  }
  .HeadingCell2{
    color: orange;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .divTableBody2{
    display: flex;
    width: 100%;
    line-height: 28px;
  }
  .divTableRow1of2{
    margin-right: 150px;
    font-weight: bold;
    color: var(--nav-buttons-color)
  }
  .divTableRow2of2{
    color: grey;
  }
.damage-image{
  margin: 85px 80px 35px 0px;
}

    /* Wheels & Tires */
.wheelsAndTires{
  display: flex;
  flex-wrap: wrap;
}
.stats2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin-top: 45px;
}
.left-tire,
.right-tire{
  flex: 1;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.divTableCell2{
  width: 100px;

}


    /* TOP RECOMMENDATIONS */
.recommendationTable{
  display: flex;
  flex-direction: column;
  border: 1px solid whitesmoke;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
}
.recommendations{
  display: flex;   
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-around; 
}




   
